body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  background: #f1f1f1;

}

.container {
  margin-left: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
   display: flex; 
}

.info-text {
  margin-left: 40px;
}

@media (max-width: 620px) {
  .container {
    display: block;
    text-align: center;
  }
}


.img {
  border-radius: 15px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  color: red;
  font-size: 20px;
}
a:hover {
  color: black;
}

/* a:visited {
  color: rgb(22, 219, 15);
} */

a:active {
  color: blueviolet;
}



.card-1 {
  margin-top: 15px;
  border: 2px solid grey;
  border-radius: 15px;
  background: rgb(229, 243, 229);
}

.card-1 h3 {
  padding-left: 15px;
}

.card-2 {
  border: 2px solid grey;
  border-radius: 15px;
  background: rgb(248, 228, 209);
}

.card-2 h3 {
  text-align: center;
}

.card-2 table {
  padding-left: 15px;
  width: 100%;
  padding-bottom: 15px;
}

.card-2 table td {
  border-bottom: 2px solid grey
}
.card-2 table th {
  border-bottom: 5px solid grey
}

.card-2 table td:nth-child(1), .card-2 table td:nth-child(3) {
  background: red;
}
.card-2 table td:nth-child(2){
  background: orange;
}

.card-2 table th:hover {
  background: blue;
}

.card-2 table td:hover {
  background: yellow;
}

.card-3 {
  border: 2px solid grey;
  border-radius: 15px;
  background: rgb(248, 244, 225);
}

.card-3 h3 {
  padding-left: 15px;
}

.card-1, .card-2, .card-3 {
  margin-bottom: 15px;
}

.btn {
  padding: 15px 15px;
  background: black;
  color: white;
  font-size: 16px;
  border-radius: 15px;
}  

.btn:hover {
  opacity: 0.8;
}
 
.form h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  /* display: inline-block; */
  margin-right: 20px;
  width: 50%;
/*   width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
  margin-right: 0;
}

  @media(max-width: 650px) {
    .form-row {
      margin-bottom: 10px;
      display: block;
    }

    .form-row .form-group {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }


.form-group input, .form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0 15px;
  outline: none;
  font-family: inherit;
}







